<!DOCTYPE html>
<html>
<head>
<title>Q5</title>
<link rel="stylesheet" type="text/css" href="Q5.css" />
</head>
<body a link="white" vlink="white">
<div id="bg">
	<div id="margin">
		<div id="menu" ><font face="Verdana">
			<ul>
				<p>
				<li><a href=""><u>HOME</u></a></li>
				<li><a href=""><u>PLAN YOUR TRIP</u></a></li>
				<li><a href=""><u>SPECIAL OFFERS</u></a></li>
				<li><a href=""><u>AMENITIES</u></a></li>
				<li><a href=""><u>CONTACT US</u></a></li>
				</p>
			</ul>
		</font>
	</div>
	<img src="banana.jpg"  width="1000" >
	<div id="plan"> 
		<ul>
			<p>
				<li><font size="5" face="Brush Script MT">PLAN YOUR TRIP<br /><br /></font><font size="1" face="Verdana">Background color or bgcolor of this page <br /> was set to "#89ece9". This page uses<br />vlink (visited link) and link attribute of <br /> body to white.</font></li>
				<li><font size="5" face="Brush Script MT">SPECIAL OFFERS<br /><br /></font><font size="1" face="Verdana">bgcolor was set to "#0144af" for the <br />background."Brush Script MT" was the<br /> font used for the heading and "verdana"<br /> for the paragraph text.</font></li>
				<li><font size="5" face="Brush Script MT">BUY NOW<br /><br /></font><font size="1" face="Verdana">"Brush Script MT" was the font used for <br /> the heading and "verdana" for the <br />paragraph text.</font></li>
				<li><font size="5" face="Brush Script MT">NEWS AND EVENTS<br /><br /></font><font size="1" face="Verdana">"Brush Script MT" size set to 5 and color <br />is white were some values for this <br />site.</font></li>
			</p>
		</ul>
	</div>
	<div id="welcome">
		<ul>
			<div id="resize">
				<ul>
					<li><img src="welcome.png"><br /><br />
						<small>
							<font size="1" face="Verdana" font color="white">There are many variations of passage of Lorem Ipsum available, but the<br /> majority have suffered alteration in some form, by inject humour, or <br />randomised words which don't look even slightly believable. If you are going to 
							<br /> use a passage of Lorem Ipsum, you need to be syre there isn't anything<br /> embarrassing hidden in the middle of text.</font><br /><br />
								<font size="1" face="Verdana" font color="0144af"> For the footer of this page, a table was inserted after the first table. Its width<br /> was set to 100%. Inside that table, another table was inserted with width set to
									<br />1000 and align to center.</font></li>		
				</ul>
				</div>
				<li><img src="gallery.jpg"><img src="blue.png"><br /><br /><font size="1" face="Verdana" font color="black">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has<br />been the industry standard dummy text ever since the 1500s, when an unknown printer look<br /> a gallery of type and scrambled it to make a type specimen book.<br /><br />
					<div id="disc">
						<ul> 
							<li> Any item list here</li>
							<li> Any item list here</li>
						</ul>
					</div>
					</font>
				</li>
			</ul>
		</div>
	</div>
	<div id="footer">
		<div id="margin">
			<div id="corp">
				<p>
					<ul>
						<div id="recorp">
						<ul>
						<li valign="top"><small>IcanDoThis © 2013. Designed by Mahilum Corp.</small></li>
						<ul>
						</div>
						<li> ABOUT US!<br /><small><a href>Company Profile</a><br /><a href>Testimonials</a><br /><br /><a href>PLAN YOUR TRIP</a><br /><a href>Trip to Pass! I will pass!</a><br /><a href>Trip to Fail! I am still young!</a></small></li>
						<li> SPECIAL OFFERS/AMENITIES <br /><small><a href>Full Package/Half Package</a><br /><a href>Trip There/Trip here</a><br /><a href>I Believe I can Fly</a><br /><a href>Amenities Where?</a><br /><a href>Amazing</a></small></li>
						<li> FOLLOW US<br /><small><img src="fb.png">Facebook<br /><img src="twitter.png">Twitter<br /><img src="lol.jpg">LOL Garena</small></li>
					</ul>
				<p>
			</div>
		</div>
</div>
</body>
</html>